body{
    > footer{
        margin-top: 30px;
        background: #333;
        padding: 20px 0 0;

        > .container{
            padding-bottom: 95px;
            padding-left: 0px;
            padding-right:  0px; 

        }
        #footer-sidebar{   
            > .footer-widget{
                &:nth-child(3n){
                    border: none;
                }
                @include make-xs-column(11);
                @include make-sm-column(3.5);
                @include make-md-column(3.5);
                padding-left: 0px;
                border-right: 1px dotted  #FFF;
                height: 340px;
                margin-left: 10px;
                margin-right: 10px;
                > div.widget__title{
                    position: relative;
                    height: 36px;
                    text-indent: 12px;
                    font: 22px $font_main;
                    color: #fff;
                    > span{
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    > p{
                        font: 22px $font_main;
                        color: #fff;
                        padding-left: 36px;
                        text-indent: 12px;
                    }

                }
                address{
                    color: #777;
                    font: bold 12px $font_main;
                    padding: 5px;
                    strong{
                        margin-right: 5px;
                        color: #fff;
                        font: bold 13px $font_main;
                    }
                }
                p{
                    color: #777;
                    font: bold 11px $font_main;
                }
                > ul {
                    list-style: none;
                    color: #777;
                    >li{
                        a{
                            color: #777;
                            font: bold 12px $font_main;
                        }
                        font: bold 12px $font_main;
                        padding: 5px;
                    }
                }
                &.footer-widget--about{
                    padding-left:0px;
                    a{
                        display: block;
                        width: 80%;
                    }
                    p{
                        width: 85%;
                        margin: 20px 0 0;
                    }
                }
            }
        }
        > #redes-sociais{
            background: #555;
            padding: 10px 0 0 0;

            #redes-sociais__container{
                @include make-md-column(12);

                > ul#redes-sociais__icons{
                    float: right;
                    margin-bottom: 5px;

                    > li{
                        display: inline;
                        float: left;
                        margin-right: 5px;

                        > a.icon{
                            display: block;
                            @extend .sprite_redes_sociais;

                            &,
                            &:hover{
                                transition: all 0.2s linear;
                            }

                            &.icon--facebook{
                                @include sprite-define(30px, 32px, -5px, -131px);
                                &:hover{
                                    background-position:-5px -89px;						
                                }
                            }
                            &.icon--twitter{
                                @include sprite-define(30px, 32px, -5px, -551px);
                                &:hover{
                                    background-position:-5px -508px;
                                }
                            }
                            &.icon--youtube{
                                @include sprite-define(30px, 32px, -6px, -719px);
                                &:hover{
                                    background-position:-6px -677px;
                                }
                            }
                            &.icon--gplus{
                                @include sprite-define(30px, 32px, -5px, -299px);
                                &:hover{
                                    background-position:-5px -257px;
                                }
                            }
                        }
                    }
                    > :last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
